.card-div-style {
 
        display: grid; 
         
        grid-template-columns: repeat(4, 1fr);
         
        grid-auto-rows: auto;
         
        grid-gap: 1rem;
         
        }
        .card {
        margin-top: 10px;
        
        border: 2px solid grey;
         
        border-radius: 4px;
         
        padding: .5rem;
        
        color: gold;

        font-weight: 150px;
        background-color: rgba(80,80,80,.7);
         
        }
.btn-style {
        background-color: black;
        color: gold;

}

.btn-style:hover{
        background-color: gold;
        color: black;
}
.btn-space {
        align-items: center;
}
