.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

    .navlinks {
      font-weight: 900;
      letter-spacing: 0.0375rem;
      cursor: pointer;
      color: gold !important;
    }
  